<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Recall_Jdbc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ADD</servlet-name>
    <servlet-class>Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADD</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VIEW</servlet-name>
    <servlet-class>View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VIEW</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DELETE</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DELETE</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UPDATE</servlet-name>
    <servlet-class>Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPDATE</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TOP</servlet-name>
    <servlet-class>Top</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TOP</servlet-name>
    <url-pattern>/top</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BELOW</servlet-name>
    <servlet-class>Below</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BELOW</servlet-name>
    <url-pattern>/Below</url-pattern>
  </servlet-mapping>
</web-app>